
.reveal section pre,
.reveal section img,
.slide-header img {
    background: none;
    border:     none;
    box-shadow: none;
}

.reveal section pre {
    margin-left: 20%;
}

.slide-header {
    position: fixed;
    background-color: #3e3e3b;
    top: -3%;
    left: -5%;
    width: 110%;
}

.slide-header p {
    position: relative;
    float: left;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 11px;
    padding-left: 15px;
    color: #e6e6e6;
    font-size: 70%;
}

.slide-header img {
    position: relative;
    float: left;
    width: 33px;
    padding-left: 5%;
}
